
.container {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.main {
  text-align: center;
  width: 50%;
}

.button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}

.inputGroup {
  margin-bottom: 15px;
  width: 100%;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.input, .select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


