/* styles/Construcao.module.css */

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  text-align: center;
}

.button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}
